html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f8f9fb;
}

/* NavBar */

nav {
  font-family: "Merriweather Sans", sans-serif;
  border-bottom: 1px solid #c4e8cd;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: #5085a5;
  align-items: center;
}

#navbar .name-link {
  color: #eee;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

#navbar .name-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px #f8f9fb;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
#navbar .name-link:hover:after,
#navbar .name-link:focus:after {
  transform: scaleX(1);
}

.navbar ul {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
}

.navbar ul li {
  padding: 0 1.55rem;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  transition: 0.2s;
  display: inline-block;
}

.navbar ul li:hover,
.navbar ul li:focus {
  transform: scale(1.05);
}

.navbar ul li a {
  color: #f8f9fb;
  text-decoration: none;
}

/* Welcome */

#welcome-section {
  height: 100vh;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 35vh;
}

.welcome-section .name-color {
  color: #697865;
  font-family: "Shippori Antique", sans-serif;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 40px;
}

.welcome-section .greeting {
  font-size: 1.5rem;
  font-weight: 400;
  color: #8fc1e2;
  font-family: "Merriweather", sans-serif;
  margin-bottom: 10px;
}

.welcome-section .desc {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #5085a5;
  letter-spacing: 0.1rem;
  margin-top: 0;
  border-right: 0.2px solid #777;
}

/* About Me */

#about {
  background-color: #31708f;
  padding: 8rem 5vw;
}

.about-container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-header {
  max-width: 500px;
  margin: 0 auto;
  font-family: "Merriweather", sans-serif;
  font-size: 2.6rem;
  text-align: center;
  color: #f8f9fb;
  border-bottom: 2px solid #f8f9fb;
  font-weight: 400;
}

.about-desc {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 100;
  color: #f8f9fb;
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 20px;
  margin-top: 2rem;
}

/* My Projects */

#projects {
  padding: 8rem 5vw;
  background-color: #f8f9fb;
}

.project-header {
  font-family: "Merriweather", sans-serif;
  text-align: center;
  margin: 0 auto 50px auto;
  font-size: 2.3rem;
  color: #31708f;
  border-bottom: 2px solid #31708f;
  max-width: 700px;
}

.grid-project {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-gap: 20px;
}

.grid-el {
  background-color: #5085a5;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  border-radius: 10px;
}

.grid-el:hover,
.grid-el:focus {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
}

.project-image {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.project-title {
  font-family: "Merriweather", sans-serif;
  color: #f8f9fb;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.grid-el a {
  text-decoration: none;
}

.project-desc {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 100;
  color: #f8f9fb;
  letter-spacing: 1.2px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.src-code {
  background-color: #4a6742;
  padding: 10px 20px;
  color: #f8f9fb;
  font-weight: 700;
  font-family: "Shippori Antique", sans-serif;
  transition: 0.3s;
  border-radius: 4px;
}

.src-code:hover,
.src-code:focus {
  background-color: #56774d;
}

/* Contact Me */

#contact-me {
  background-color: #31708f;
  padding: 8rem 5vw;
}

.contact-header {
  max-width: 800px;
  margin: 15vh auto 8vh auto;
  font-family: "Merriweather", sans-serif;
  font-size: 2.6rem;
  text-align: center;
  color: #f8f9fb;
  margin-top: 0;
  border-bottom: 2px solid #f8f9fb;
}

.contact-me {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 0.5px 0.5px #290300;
}

.fab,
.fas {
  color: #f8f9fb;
  font-size: 2rem;
  font-weight: 500;
  transition: 0.4s;
  margin-bottom: 1rem;
}

.fab a,
.email {
  text-decoration: none;
  color: #f8f9fb;
  padding-left: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.profile-link {
  transition: 0.3s;
}

.profile-link:hover,
.profile-link:focus,
.fa-linkedin:hover,
.fa-github:hover {
  color: #f6fff4;
}

/* Footer */

.footer {
  background-color: #242a23;
  display: flex;
  justify-content: flex-end;
}

.credit {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 100;
  margin: 10px 5px;
  color: #596357;
}

/* Media Query */

@media (max-width: 600px) {
  nav {
    display: none;
  }

  .welcome-container {
    padding-top: 20vh;
  }

  .name-color,
  .about-desc {
    text-align: center;
  }

  .welcome-section .name-color {
    font-size: 4rem;
    width: 80%;
  }

  .about-desc {
    font-size: 1.2rem;
  }

  .grid-project {
    display: flex;
    flex-direction: column;
  }

  .fab,
  .fas,
  .fab a {
    font-size: 1.5rem;
  }

  .email {
    font-size: 1.3rem;
  }

  .contact-me a {
    padding: 0 1em;
  }

  .about-header,
  .project-header,
  .contact-header {
    font-size: 2rem;
  }
}
